//variables

$textColor: #251627;
$bgColor: #edf6fd;
$sectionColor: #65c494;
$sectionColorContrast: #027055;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
}

#root {
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  scroll-behavior: smooth;
}

.banner {
  img {
    filter: brightness(60%);
  }
}

.padtop {
  padding-top: 15%;
  padding-bottom: 10%;
}



#carouselExampleControls{
  height: 70%;

 
}
@media (max-width: 800px) {
  #carouselExampleControls{
    height: 40%;
  
   
  }
}